<!DOCTYPE html>
<html>
<head>
  <title>Insdagram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="/assets/logo-only.png" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript">
   window.insdagramAssets = {
     // image_url is a rails helper method that does the fingerprinting
     // so we need erb tag to use ruby
     // file name is an argument to the image_url method
     loginImage: "<%= image_url("Instagram-Login-Asset.png") %>",
     logoutButtonImage: "<%= image_url("logout-button.png") %>",
     addPhotoImage: "<%=image_url("plus_sign.png") %>",
     userViewImage: "<%=image_url("user-icon.png") %>",
     logoIcon: "<%=image_url("logo-icon-official.png") %>"
   }
 </script>
</head>
<body>
<style>
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</style>

<%= yield %>

</body>
</html>
